body {
  font-family: 'Merriweather Sans', sans-serif;
  /*font-family: 'Rock Salt', cursive;*/
  background-size: 100%;
  background-image: url(summer.png);
  background-repeat: none;
  /*position: relative;*/
}

form {
  margin: 20px auto;
  width: 700px;
  padding: 0px 20px 20px 20px;
  border: 1px solid black;

  background-image: url(summer.png);
  background-size: 100%;
  border-radius: 1em;

  margin: auto;
  border: 1px solid black;
  box-shadow: 4px 4px 5px #888888;
}

form input {
  margin-bottom: 6px;
}

  form h1 {
    text-align: center;
    font-size: 20pt;
  }

  form label {
    font-weight: bold;
  }

  form input[type="submit"] {
    background-color: #ff944d;
    border-radius: 0.4em;
    border: 1px solid black;
    box-shadow: 0.5px 0.5px #888888;
    margin-bottom: 1em;
    display: block;
    text-align: center;
  }

  form input[type="submit"]:hover {
    background-color: #ff8533;
    border: 1.5px solid black;
    box-shadow: 1px 1px #888888;
  }


p.errors {
  margin: 0;
  padding: 0;
  display: inline-block;
  color: brown;
}

form.quirks {
  display: inline-block;
}

.label {
  font-weight: bold;
  float: left;
  text-align: right;
  margin-right: 20px;
  width: 200px;
}

#welcome {
  background-image: url(summer.png);
  width: 700px;
  height: 450px;
  border-radius: 1em;
  text-align: center;
  margin: auto;
  border: 1px solid gold;
  box-shadow: 4px 4px 5px #888888;
}

#welcome h1 {
  padding: 1em 0 0.5em 0;
  font-size: 4em;
}

#hello {
  font-size: 1.5em;
  background-image: url(summer.png);
  width: 50%;
  display: inline-block;
  margin-right: 25%;
  margin-left: 25%;
  text-align: center;
  border-radius: 0.5em;
  border: 2px solid gold;
  box-shadow: 4px 4px 5px #888888;
  margin-bottom: 2em;
}

#hello h1 {
  display: inline-block;
}

img#gravatar {
  margin: 1em 1em 0.5em 0;
  border-radius: 25px;
  border: 1px solid black;
}

#grav_div {
  float: right;
}