nav {
  text-align: center;
  padding-bottom: 40px;
  font-weight: bold;
  font-size: 1.1em;
}

nav ul ul {
  display: none;
}

  nav ul li:hover > ul {
    display: block;
  }

nav ul {
  /*display: inline-block;*/
  margin: 0;
  background: #00ff99;
  background: linear-gradient(top, #00ff99 20%, #ffffff 100%);
  background: -moz-linear-gradient(top, #00ff99 20%, #ffffff 100%);
  background: -webkit-linear-gradient(top, #00ff99 20%,#ffffff 100%);
  box-shadow: 0px 0px 9px rgba(0,0,0,0.15);
  padding: 0 20px;
  list-style: none;
  position: relative;
}

nav ul:after {
      content: ""; clear: both; display: block;
  }

li {
  opacity: 0.85;
  display: inline-block;
  text-align: center;
}

  nav ul li:hover {
    opacity: 9;
  }

  nav ul li:hover a {
    color: #ffffff;
  }

  nav ul li:active a {
    color: #ffffff;
  }

nav ul li a {
  display: block;
  padding: 25px 30px;
  color: #303030; text-decoration: none;
}

form#sign-out {
  width: 50%;
  border: none;
  background-image: none;
  box-shadow: none;
}

  form#sign-out input {
    border:none;
    background:none;
    box-shadow: none;
    opacity: 0.8;
    font-weight: bold;
  }

  form#sign-out input:hover {
    opacity: 0.9;
    color: #ffffff;
  }