<form method="post" action="/users/twitter">
  <h1>New to Homage?</h1>
  <h3>(Only the first time)</h3>
  <label class="label" for="name">Name</label>
  <input type="text" name="name" placeholder="name" value="<%= flash[:user_input][0] if flash[:user_input] %>">
  <br>

  <label class="label" for="email">Email</label>
  <input type="email" name="email" placeholder="email address" >
  <br>

  <input type="submit" value="Sign Up">
</form>