<form id="form" method="post" action="/sessions">
  <h1>Sign In</h1>
  <label class="label" for="email">Email</label>
  <input type="email" name="email" placeholder="email address" value="<%= flash[:user_input][0] if flash[:user_input] %>">
  <% if !@user %>
    <%= erb :_errors %>
  <% end %>
  <br>
  <label class="label" for="password">Password</label>
  <input type="password" name="password" placeholder="password">
  <% if @user %>
    <%= erb :_errors %>
  <%  end %>
  <br>
  <input type="submit" value="Sign In">
</form>
OR
<button><a href="/sessions/twitter/new">Sign In with Twitter</a></button>